@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  font-family: 'Poppins', Helvetica, sans-serif;
}

/* Fade-in and move-up animation */
.animate {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  


  /* ------------- */
  @layer utilities {
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .animate-fadeIn {
      animation: fadeIn 0.8s ease-out forwards;
    }
  }


/* global.css */
/* global.css */
/* global.css */
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #121212;
  color: white;
}
